body {
    background-image: url("https://image.freepik.com/free-vector/light-blue-vector-background-with-dots-lines_6869-698.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed; 
    background-size: 100% 100%;
   /*background-blend-mode: auto;*/
}